* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
}

#card {
    background-image: url(https://images.unsplash.com/photo-1431263154979-0982327fccbb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    width: 600px;
    padding: 200px 100px 100px;
    margin: 100px auto 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    transition: 3s;
}

#card:hover {
    transform: scale(0.9);
}

#content {
    background: rgba(255, 255, 255, 0.267);
    padding: 50px 100px 30px 20px;
    color: #4f2774;
    
}

h2 {
    padding-top: 10px;
}

ul {
    padding-left: 30px;
    padding-top: 20px;
}

li {
    padding-top: 10px;
}

footer {
    text-align: center;
    font-size: 80px;
    letter-spacing: 50px;
    padding-left: 50px;
    opacity: 0.03;
    margin-top: 50px;
}